.login__link {
  display: block;
  margin: 15px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  transition: opacity .4s;
  color: #1D4776;
}
.login__link:hover {
  opacity: .6;
}