.header {
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 119px;
  background-color: #1D4776; 
  border-radius: 0 0 16px 16px;
}
@media (max-width: 900px) {
  .header {
    padding: 0 30px;
    height: 83px;  
  }
}

